<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="InMotionHosting Automation Suite" verbose="1" parallel="false">

    <!-- Register Test Listener for failure screenshots -->
    <listeners>
        <listener class-name="com.get.inmotion.tests.base.TestListener"/>
    </listeners>

    <test name="E2E Domain and Hosting Test">
        <classes>
            <class name="com.get.inmotion.tests.e2e.DomainHostingFlowTest"/>
        </classes>
    </test>

</suite>
